@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/* Pseudo-class for variables */
:root {
    --bg1: #0b0c10;
    --bg2: #00000090;
    --bg3: #202031;
    --bg4: #00000035;
    --bg5: #00000070;
    --bg6: #3d3d51;
    --text1: #cccccc;
    --text2: #5f5f5f;
    --text3: #817ba1;
    --text4: #979797;
    --text5: #151515;
}

body {
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    background-color: var(--bg1);
    background-image: url('background.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Keep existing styles */
    padding: 2rem;
    color: var(--text1);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h2 {
    font-size: 5rem;
    font-weight: 900;
    color: var(--text1);
}

#page-title:hover {
    cursor: pointer;
}

#login-section,
#register-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 3rem;
}

#forum-and-messaging {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

#forum-container,
#profile-section,
#chat-section {
    flex: 1;
    background-color: var(--bg2);
    border-radius: 1rem;
    padding: 2rem 2rem 2rem 2rem;
    max-width: 700px;
}

#messaging-container {
    background-color: var(--bg2);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 300px;
}

#input-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem;
    border-radius: 1rem;
}

#create-post-text {
    background-color: var(--bg3);
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
    border-radius: 1rem;
    color: var(--text1);
    cursor: pointer;
}

#hideable-input {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

input,
textarea,
select,
button {
    background-color: var(--bg3);
    color: var(--text1);
    border-width: 0;
    padding: 0.5rem;
    border-radius: 0.3rem;
    resize: vertical;
}

button:hover {
    cursor: pointer;
}

#login-button,
#open-registeration-button,
#register-button,
#open-login-button,
#send-post-button {
    background-color: var(--bg2);
}

#view-categories {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem 0 2rem;
}

.view-category {
    padding: 0.7rem;
    background-color: var(--bg6);
    border-radius: 0.2rem;
    color: var(--text1);
    font-size: large;
    cursor: pointer;
}

.view-category.highlight {
    background-color: var(--text3);
}

.reply,
.post {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
}

.post {
    background-color: var(--bg3);
    color: var(--text1);
    padding: 15px 20px 5px 20px;
    margin-bottom: 1rem;
}

.reply {
    padding-left: 20px;
}

.post-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.reply-items {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: var(--bg4);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}

.post-author,
.post-date {
    color: var(--text2);
}

.reply-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
}

.reply-input,
.reply-button {
    background-color: var(--bg2);
}

.reply-button {
    width: 5rem;
    cursor: pointer;
}

.post-title {
    font-weight: bold;
    cursor: pointer;
}

.category-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.6rem;
}

.likes {
    max-width: fit-content;
    font-size: 1em !important;
    vertical-align: bottom !important;
    line-height: 1;
    cursor: pointer;
}

.post-title {
    font-size: larger;
}

.post-content {
    margin-bottom: 1rem;
    word-wrap: break-word;
}

.post-categories,
.post-reactions,
.post-replies,
.post-addition {
    background-color: var(--bg5);
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem 0.15rem 0.5rem;
    color: var(--text1);
}

.post-categories {
    max-width: 15rem;
    color: var(--text3);
}

.post-categories.writing {
    background-color: var(--bg3);
    color: var(--text1);
    ;
}

.post-replies.clickable,
.post-addition,
.clickable {
    cursor: pointer;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--text1);
    background-color: var(--bg3);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.chat-small-title {
    font-weight: bold;
    color: var(--text4);
    margin-top: 1rem;
}

.chat-user {
    padding: 0.2rem 0.5rem 0.2rem 0;
    border-radius: 0.5rem;
}

.chat-user.clickable:hover {
    background-color: var(--bg1);
}

.chat-user-status {
    font-size: smaller;
    color: green;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 0.6rem;
    border-radius: 1rem;
    background-color: var(--bg4);
    color: var(--text1)
}

.chat-title {
    color: var(--text1);
    font-size: large;
}

.chat-bubbles {
    flex: 1;
    margin: 1rem 0;
    overflow-y: scroll;
    max-height: 50vh;

    display: flex;
    flex-direction: column-reverse;
}

.chat-bubble {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem 1rem 1rem 0;
    background-color: var(--bg3);
    margin: 0.5rem 2rem 0 0;
}

.chat-bubble.own-message {
    border-radius: 1rem 1rem 0 1rem;
    background-color: var(--bg6);
    margin: 0.5rem 0 0 2rem;
}

.chat-bubble-time {
    font-size: x-small;
    align-self: end;
    color: var(--text4);
}

.chat-bubble-sender {
    font-size: smaller;
    align-self: start;
    font-weight: bold;
    color: var(--text4);
    margin-bottom: 0.3rem;
}

.chat-input {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: var(--text1);
}

.chat-textarea {
    background-color: var(--text3);
    color: var(--text5);
    margin: 0 0 1rem 2rem;
    width: calc(100% - 2rem);
    /* subtract left margin */
    box-sizing: border-box;
}

.notification {
    position: fixed;
    top: -100px;
    /* Start off-screen (above) */
    left: 50%;
    transform: translateX(-50%);
    /* Center it horizontally */
    background: #333;
    color: white;
    padding: 20px 30px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
}

/* Show notification */
.notification.show {
    top: 20px;
    /* Slide down into view */
    opacity: 1;
}

.profile-container {
    padding: 2rem;
    background-color: var(--bg3);
    border-radius: 1rem;
}

.profile-title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2rem;
}

.information {
    font-size: large;
    display: grid;
    grid-template-columns: max-content auto;
    gap: 5px 15px;
}

.tooltip {
    position: absolute;
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    display: none;
    white-space: nowrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


.typing-indicator {
    display: inline-flex;
    align-items: center;
    height: 20px;
    /* margin: 0 5px 0 0; */
}

.bouncer {
/*     height: 6px;
    width: 6px;
    margin: 0 2px; */
    height: 0.4rem;
    width: 0.4rem;
    margin: 0 0.1rem;
    background-color: #00000000;
    border-radius: 50%;
    display: inline-block;    
}

.dot {
    background-color: var(--text3);
    animation: bounce 1.3s linear infinite;
}

.dot:nth-child(2) {
    animation-delay: 0.15s;
}

.dot:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes bounce {
    0%,
    60%,
    100% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-5px);
    }
}